<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-11-28T16:15:30Z</date>
	<key>WorkspacePath</key>
	<string>/Users/june/Desktop/FoodPinStaticTable/FoodPin.xcodeproj</string>
</dict>
</plist>
